#!/usr/bin/make -f

%:
	dh $@

# Makefile does not follow any conventions
override_dh_auto_install:
	true

override_dh_strip:
	dh_strip -Xstart.elf -Xstart4.elf

override_dh_install:
	# Replace the symlinks with specific EEPROM versions
	rm -rf firmware/2711/recovery.bin firmware/2711/pieeprom.bin
	rm -rf firmware/2712/recovery.bin firmware/2712/pieeprom.bin

	cp /lib/firmware/raspberrypi/bootloader-2711/default/pieeprom-2024-04-15.bin firmware/2711/pieeprom.bin
	cp /lib/firmware/raspberrypi/bootloader-2711/default/recovery.bin firmware/2711/recovery.bin

	cp /lib/firmware/raspberrypi/bootloader-2712/default/pieeprom-2024-02-16.bin firmware/2712/pieeprom.bin
	cp /lib/firmware/raspberrypi/bootloader-2712/default/recovery.bin firmware/2712/recovery.bin
	dh_install
	find $(CURDIR)/debian -name .gitignore -delete
	rm -rf temp
